.svn

bin
build
target
.rspec
.gradle

*.log

*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.project
.classpath
.settings

# IntelliJ IDEA #
*.ipr
*.iws
*.iml
.idea
out

# Windows #
Thumbs.db

# Mac #
.DS_Store
